@tailwind base;
@tailwind components;
@tailwind utilities;

h2,h3,h4,p{
  color: gray;
}

.before {
  position: relative;
}

.before::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35%;
  width: 0;
  height: 2px;
  background-color: #2663eb;
  transition: width 0.5s ease;
}
.before:hover::before {
  width: 100%;
}
